<div class="section">
  <div class="container">
    <h1 class="title">Name generator</h1>
    <form action="">
      <div class="field">
        <label class="label" for="type">Select type: </label>
        <div class="control">
          <div class="select">
            <select id="type" name="name-type" (change)="onTypeChange($event)">
              <option value="">--Please choose a type--</option>
              <option value="username">Username</option>
              <option value="geo">Geographical name</option>
              <option value="town">Town name</option>
              <option value="character">Character name</option>
              <option value="pet">Pet name</option>
              <option value="app">App name</option>
            </select>
          </div>
        </div>

      </div>
      <div class="field">
        <label class="label" for="length">Enter length: </label>
        <div class="control">
          <input class="input" id="length" type="number" [value]="numChar" (input)="onLengthChange($event)" max="10"
            min="1">
        </div>
      </div>
      <div class="control">
        <button class="button is-link is-fullwidth" (click)="onButtonClick()" type="button"
          [disabled]="!(nameType && numChar)">Generate!</button>
      </div>
      <div class="field">
        <input *ngFor="let result of results" class="input" [value]="result" readonly>
      </div>

    </form>
  </div>
</div>